html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
  text-align: center;
}

.navbar {
  background-color: lightblue; 
}

.btn.custom-color {
  background-color: lightBlue;
  margin: 8px;
}

.btn.custom-color:hover {
  background-color: rgb(207, 243, 254);
  margin: 8px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
}

.card {
  margin-bottom: 10px;
}

#card-title {
  color: black;
}

.horizontal-buttons {
  display: flex;
  justify-content: center;
}

.landingPage {
  background-image: url('https://t4.ftcdn.net/jpg/06/34/42/45/360_F_634424565_ewN98sv840wBqzlQQLjLYMG54D4BDULL.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  color: white;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  margin: 0;
}

#footer {
  background-color: lightblue; 
}

#logoutLink {
  text-decoration: none;
  color: inherit;
}