html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
  text-align: center;
}

#logoutLink {
  text-decoration: none;
  color: inherit;
}